
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <section class="about2">
    <div class="container">
        <h2 class="text-center mb-5">Who We Are?
        </h2>
        <div class="row" >
            <div class="col-lg-6" >
                <div class="b1">
                    <h2 class="mb-5">Know About Senwell Solution</h2>
                    <h4 class="mb-5">Best Price Guarantee</h4>
                    <p>You get premium service at the best market price. Our best price guarantee ensures that the features we offer cannot be matched by any of the competitors, in case they do - “We will beat the price”. Thus, for an effective and cheap Web Development help, always count on us.</p>
                    <br>
                    <h4>On Time Delivery.</h4>
                    <p>Being the best professional Websites services provider, we never compromise when it comes to deadline and delivery of projects on time.</p>
                    <br>
                    <h4>Quick Results</h4>
                    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure</p>
                    
                </div> 
            </div>
                <div class="col-lg-6">
                    <div class="b2 mb-5">
                        <img src="assets/edu_1.png" height="300px" width="400px" >

                    </div>           
                </div>
            
        </div>
     </div>
</section>

<section class="about">
    <div class="container">
        <h2 class="text-center">Why Choose Senwell Solution ?
        </h2>
        <div class="row" >
            <div class="col-lg-4 mb-5" *ngFor ="let cs of about" >
                <div class="box">
                    <img src="{{cs.image}} " width="60%">
                    <h4>{{cs.name}}</h4>
                    <h6>{{cs.description}}</h6>
                </div>            
            </div>
        </div>
     </div>
</section>



<section class="about1">
    <div class="container">
        <h2 class="text-center mb-5ng ">Experienced & Creative Team For Your Project
        </h2>
        <div class="row" >
            <div class="col-lg-4 mb-5" *ngFor ="let cs of about1" >
                <div class="box1 shadow-sm">
                    <img src="{{cs.image}}" width="60%">
                    <h4>{{cs.name}}</h4>
                    <h6>{{cs.description}}</h6>
                </div>            
            </div>

        
        </div>
     </div>
</section>